.countryCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: solid, 1px, black;
    height: 200px;
    width: 200px;
    gap: 4px;
    text-align: center;
    margin-top: 10px;
}

.card-img {
    justify-content: center;
    width: 100px;
}